:root {
    --rojo: #E50914;
    --fondo: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--fondo);
    font-family: 'Open Sans', sans-serif;
}

.contenedor {
    width: 90%;
    margin: auto;
}

header {
    padding: 30px 0;
}

header .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logotipo {
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    color: var(--rojo);
    font-size: 40px;
}

header nav a {
    color: #AAA;
    text-decoration: none;
    margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
    color: #FFF;
}


/* ---- ----- ----- Pelicula Principal ----- ----- ----- */

.pelicula-principal {
    font-size: 16px;
    min-height: 40.62em;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, .50) 100%), url(../img/MOISES.webp);
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: end;
}

.pelicula-principal .contenedor,
.pelicula-2 .contenedor,
.pelicula-3 .contenedor,
.pelicula-4 .contenedor {
    margin: 0 auto;
    margin-bottom: 6.25em;
}

.pelicula-principal .titulo,
.pelicula-2 .titulo,
.pelicula-3 .titulo,
.pelicula-4 .titulo {
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom: 0.4em;
}

.pelicula-principal .descripcion,
.pelicula-2 .descripcion,
.pelicula-3 .descripcion,
.pelicula-4 .descripcion {
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.25em;
}

.pelicula-principal .boton,
.pelicula-2 .boton,
.pelicula-3 .boton,
.pelicula-4 .boton {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 0.31em;
    padding: 0.93em 1.87em;
    color: #fff;
    margin-right: 1.25em;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 1.12em;
}

.pelicula-principal .boton:hover,
.pelicula-2 .boton:hover,
.pelicula-3 .boton:hover,
.pelicula-4 .boton:hover {
    background: #fff;
    color: #000;
}

.pelicula-principal .boton i,
.pelicula-2 .boton i,
.pelicula-3 .boton i,
.pelicula-4 .boton i {
    margin-right: 1.25em;
}


/* ---- ----- ----- SERIE josue ----- ----- ----- */

.pelicula-2 {
    font-size: 16px;
    min-height: 40.62em;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, .50) 100%), url(../img/josue.webp);
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: end;
}


/* ---- ----- ----- SERIE JESUS ----- ----- ----- */

.pelicula-3 {
    font-size: 16px;
    min-height: 40.62em;
    color: #fff;
    max-width: 100%;
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, .50) 100%), url(../img/Novela-Jesus.jpg);
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: end;
}


/* ---- ----- ----- SERIE JOSE DE EGIPTO ----- ----- ----- */

.pelicula-4 {
    font-size: 16px;
    min-height: 40.62em;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, .50) 100%), url(../img/jose-de-egito.webp);
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: end;
}

#video {
    text-align: center;
}


/* ---- ----- ----- Media Queries ----- ----- ----- */

@media screen and (max-width: 800px) {
    header .logotipo {
        margin-bottom: 10px;
        font-size: 30px;
    }
    header .contenedor {
        flex-direction: column;
        text-align: center;
    }
    .pelicula-principal,
    .pelicula-2,
    .pelicula-3,
    .pelicula-4 {
        font-size: 14px;
    }
    .pelicula-principal .descripcion,
    .pelicula-2 .descripcion,
    .pelicula-3 .descripcion,
    .pelicula-4 .descripcion {
        max-width: 100%;
    }
}